.file-container  {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.comparison-container {
  display: flex;
  height: 700px;
  background-color: white;
}

.file1-view, .file2-view {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.file1-view {
  border-right: 2px solid #888;
}

.file2-view {
  border-color: #ccc;
}

.file-view:last-child {
  border-right: none;
}

.file1-title, .file2-title {
  padding-top: 15px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  font-family: Ubuntu;
  font-weight: bold;
}

.file1-title {
  background-color: #EEF0F1;
}

.file2-title {
  background-color: #333333;
  color: white;
}

.metadatas {
  display: flex;
  flex-direction: row;
}

.tags {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: center;
}

.tag {
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.125rem 0.625rem;
    border-radius: 9999px;
    margin-inline-end: 0.5rem;
    display: inline-block;
    background-color: #dbeafe; 
    color: #1e40af;
    border-style: solid;
    border-width: 1px; 
    border-color: #60A5FA;
    font-family: Ubuntu;
}

.filterSummary {
  font-size: 15px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 400;
}

.file1-content, .file2-content {
  position: absolute;
  margin-top: 30px;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: auto;
}

.file1-content {
  background-color: white;
}

.file2-content {
  background-color: white;
}

.file1-content .line,
.file2-content .line {
  min-height: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.column {
  display: table-cell;
  padding: 2px 8px;
  white-space: nowrap;
  min-width: 80px;
}

.line {
  padding: 2px 8px;
  white-space: pre;
  display: flex;
  font-family: monospace;
  width: max-content;
  min-width: 100%;
}

.line-number {
  color: #888;
  margin-right: 10px;
  user-select: none;
  min-width: 30px;
  text-align: right;
}

.line-content {
  flex: 1;
  overflow-x: auto;
}

.header, .match, .diff {
  width: max-content;
  min-width: 100%;
}

.header {
  background-color: rgba(255, 255, 255, 0.2);
}

.match {
  background-color: rgba(0, 255, 0, 0.2);
}

.diff {
  background-color: rgba(255, 0, 0, 0.2);
}