.file-container  {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 1px;
  margin-right: 1px;
}
.comparison-container {
  display: flex;
  height: 500px;
  border: 1px solid #9188a1;
  border-radius: 5px;
  background-color: white;
}
.file1-view {
  flex: 1;
  overflow: hidden;
  border-right: 2px solid #888;
  position: relative;
  border-radius: 5px;
}
.file2-view {
  flex: 1;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border-color: #ccc;
}
.file-view:last-child {
  border-right: none;
}
.file1-title, .file2-title {
  padding-top: 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-family: ubuntu;
  font-weight: bold;
}

.file1-title {
  background-color: #EEF0F1;
}

.file2-title {
  background-color: #0d1117;
  color: white;
}

.filterSummary {
  font-size: 15px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 400;
}

.file1-content {
  position: absolute;
  margin-top: 30px;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: auto;
}
.file2-content {
  position: absolute;
  margin-top: 30px;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: auto;
  background-color: #f4f4f5;
}
.file1-content .line,
.file2-content .line {
  min-height: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.column {
  display: table-cell;
  padding: 2px 8px;
  white-space: nowrap;
  min-width: 80px;
}
.line {
  padding: 2px 8px;
  white-space: pre;
  display: flex;
  font-family: monospace;
  width: max-content;
  min-width: 100%;
}
.line-number {
  color: #888;
  margin-right: 10px;
  user-select: none;
  min-width: 30px;
  text-align: right;
}
.line-content {
  flex: 1;
  overflow-x: auto;
}
.header {
  background-color: rgba(255, 255, 255, 0.2);
}
.match {
  background-color: rgba(0, 255, 0, 0.2);
  width: max-content;
  min-width: 100%;
}
.diff {
  background-color: rgba(255, 0, 0, 0.2);
  width: max-content;
  min-width: 100%;
}
.stats {
  margin-top: 1px;
  padding: 2px;
  background-color: white;
  border: 1px solid #9188a1;
  font-family: ubuntu;
}
textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  font-family: monospace;
  padding: 2px;
}