<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VCF File Comparison Tool</title>
  <link rel="stylesheet" href="template.css" />
  <link rel="stylesheet" href="file.css" />
  <link rel="stylesheet" href="search.css" />
  <link rel="stylesheet" href="table.css" />
  <link rel="stylesheet" href="tickets.css" />
  <link rel="stylesheet" href="cmd.css" />
  <script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="FlexMain">
        <div class="DivMainLeft">
            <img src="statics/vcf_black.png" alt="VCF1" class="VCFIcon">
            <h2 class="HeadingLeft">
              {{ infos[vcfs[0]].basename|default(vcfs[0]) }}
            </h2>
        </div>
        <div class="DivMainRight">
            <img src="statics/vcf_white_line.png" alt="VCF2" class="VCFIcon">
            <h2 class="HeadingRight">
              {{ infos[vcfs[1]].basename|default(vcfs[1]) }}
            </h2>
        </div>
    </div>
    <div class="FlexSub">
        <div class="DivSubLeft">
            <img src="statics/info_black.png" class="InfoIcon">
            <div class="ContainerInfos">
              <div class="BulleInfo">
                <img src="statics/folder.png" class="InfoSubIcon">
                <p class="InformationL">
                    {{ infos[vcfs[0]].path|default(vcfs[0]) }}
                </p>
              </div>
              <div class="BulleInfo">
                <img src="statics/database.png" class="InfoSubIcon">
                <p class="InformationL">
                    {{ infos[vcfs[0]].size|default('NA') }} Mo
                </p>
              </div>
              <div class="BulleInfo">
                <img src="statics/file.png" class="InfoSubIcon">
                <p class="InformationL">
                    {{ infos[vcfs[0]].mtime|default('NA') }}
                </p>
              </div>
            </div>
            <img src="statics/down-arrow.png" class="InfoIcon" id="DropDown">
        </div>
        <div class="DivSubRight">
            <img src="statics/info-white-lines.png" class="InfoIcon">
            <div class="ContainerInfos">
              <div class="BulleInfo">
                <img src="statics/folder.png" class="InfoSubIcon">
                <p class="InformationR">
                    {{ infos[vcfs[1]].path|default(vcfs[1]) }}
                </p>
              </div>
              <div class="BulleInfo">
                <img src="statics/database.png" class="InfoSubIcon">
                <p class="InformationR">
                    {{ infos[vcfs[1]].size|default('NA') }} Mo
                </p>
              </div>
              <div class="BulleInfo">
                <img src="statics/file.png" class="InfoSubIcon">
                <p class="InformationR">
                    {{ infos[vcfs[1]].mtime|default('NA') }}
                </p>
              </div>
            </div>
            <img src="statics/down-arrow-white.png" class="InfoIcon" id="DropDown">
        </div>
    </div>
    <div class="background">
      <div class="input-container">
        <p class="bash-text">
          <span class="user">user</span><span class="vm">@vcfdelta</span>:<span class="char">~</span>$
        </p>
        <input class="input" placeholder="{{ cmd }}" type="text" disabled>
      </div>
    </div>
    <section class="SectionPlots">
        <div class="GridPlotLeft">
            {% for plot in plots[vcfs[0]] %}
              <div class="DivPlot {% if loop.index == 1 %}active{% endif %}" id="leftPlot{{ loop.index }}">
                {{ plot }}
              </div>
            {% endfor %}
            <div class="plot-navigation">
              <div class="plot-nav-left">
                  <div class="nav-arrow left" id="leftPrevArrow">&#8592;</div>
                  <div class="plot-indicator" id="leftPlotIndicator"></div>
                  <div class="nav-arrow right" id="leftNextArrow">&#8594;</div>
              </div>
            </div>
        </div>
        <div class="GridPlotRight">
            {% for plot in plots[vcfs[1]] %}
              <div class="DivPlot {% if loop.index == 1 %}active{% endif %}" id="rightPlot{{ loop.index }}">
                {{ plot }}
              </div>
            {% endfor %}
            <div class="plot-navigation">
              <div class="plot-nav-right">
                <div class="nav-arrow left" id="rightPrevArrow">&#8592;</div>
                <div class="plot-indicator" id="rightPlotIndicator"></div>
                <div class="nav-arrow right" id="rightNextArrow">&#8594;</div>
              </div>
            </div>
        </div>
    </section>
    <div class="FlexSub">
        <div class="DivSubLeft">
            <div class="Container">
                <img src="statics/search.png" alt="search" class="IconFilter">
            </div>
        </div>
        <div class="DivSubRight">
            <div class="Container">
                <img src="statics/filter-white-line.png" alt="search" class="IconFilter">
            </div>
        </div>
    </div>
    <div class="FlexMain">
        <div class="DivMainLeft">
            <div class="ContainerSearch">
                <img src="statics/chromosome.png" alt="chromosomes" class="IconFilter">
                <div class="search">
                  <div class="search-box">
                    <div class="search-field">
                      <input placeholder="Search chromosome" class="input" type="text">
                      <div class="search-box-icon">
                        <button class="btn-icon-content">
                          <i class="search-icon">
                            <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" fill="#fff"></path></svg>
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="ContainerFilter">
              <img src="statics/puzzle.png" alt="filter" class="IconFilter">
              <div class="FilterContainerL">
                <select class="FilterField">
                    <option selected disabled>Select a filter...</option>
                    <option>ALL</option>
                    <option>MATCH</option>
                    <option>MISMATCH</option>
                </select>
              </div>
            </div>
        </div>
        <div class="DivMainRight">
            <div class="ContainerFilter">
                <img src="statics/filter.png" alt="filter" class="IconFilter">
                <div class="FilterContainer">
                    <select class="FilterField">
                        <option selected disabled>Select a filter...</option>
                        <option>ALL</option>
                        <option>PASS</option>
                    </select>
                </div>
                <img src="statics/dan-test-white.png" alt="dna" class="IconFilter">
                <div class="FilterContainer">
                    <select class="FilterField">
                        <option selected disabled>Select a variant...</option>
                        <option>ALL</option>
                        <option>SNP</option>
                        <option>INDEL</option>
                        <option>Other</option>
                    </select>
                </div>
                <button class="SearchButton" onclick="resetFilters()">Reset</button>
            </div>
        </div>
    </div>
    <div class="Container">
        <div class="file-container" id="fileTab">
    
            <div class="comparison-container">
              <div class="file1-view">
                <div class="file1-title">{{ infos[vcfs[0]].basename|default(vcfs[0]) }} <p class="filterSummary" id="filterSummaryL">Showing all variants</p> </div>
                <div class="file1-content" id="content1">
                  <div class="line header">
                    <div class="line-number">0</div>
                      <span class="header column">
                        {{ view['headers'][vcfs[0]] }}
                      </span>
                  </div>
                  {% for index, series in view['variants'].iterrows() %}
                    {% if series['Variant.L']|is_nan or series['Variant.R']|is_nan %}
                      <div class="line diff" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.L']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        {% if not series['Variant.L']|is_nan %}
                          <span class="diff column">
                            {{ series['Variant.L'] }}
                          </span>
                        {% endif %}
                      </div>
                    {% else %}
                      <div class="line match" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.L']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        <span class="match column">
                          {{ series['Variant.L'] }}
                        </span>
                      </div>
                    {% endif %}    
                  {% endfor %}
                </div>
              </div>
              <div class="file2-view">
                <div class="file2-title">{{ infos[vcfs[1]].basename|default(vcfs[1]) }} <p class="filterSummary" id="filterSummaryR">Showing all variants</p> </div>
                <div class="file2-content" id="content2">
                  <div class="line header">
                    <div class="line-number">0</div>
                      <span class="header column">
                        {{ view['headers'][vcfs[1]] }}
                      </span>
                  </div>
                  {% for index, series in view['variants'].iterrows() %}
                    {% if series['Variant.L']|is_nan or series['Variant.R']|is_nan %}
                      <div class="line diff" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.R']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        {% if not series['Variant.R']|is_nan %}
                          <span class="diff column">
                            {{ series['Variant.R'] }}
                          </span>
                        {% endif %}
                      </div>
                    {% else %}
                      <div class="line match" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.R']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        <span class="match column">
                          {{ series['Variant.R'] }}
                        </span>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            
            <div class="stats" id="stats">
              <h3>Comparison Stats</h3>
              <p>Matching lines: <span style="color: rgba(0, 255, 0)">{{ view["stats"]["common"] }}</span></p>
              <p>Different lines: <span style="color: rgba(255, 0, 0)">{{ view["stats"]["unique"][vcfs[0]] + view["stats"]["unique"][vcfs[1]] }}</span></p>
              <p>Jaccard Index: {{ view["stats"]["jaccard"]|round(3,'common') }}</p>
              <div class="DivPlot active">
                {{ plots["common"][0] }}
              </div>
            </div>
        </div>
        {% if summary is not none %}
          <div class="FlexSub">
            <div class="DivMainLeft">
              <div class="card">
                <span
                  ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="m256 8c-136.957 0-248 111.083-248 248 0 136.997 111.043 248 248 248s248-111.003 248-248c0-136.917-111.043-248-248-248zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12z"
                    ></path>
                  </svg>
              
                  <p>
                    Truth: {{ vcfs[0] }}
                  </p></span
                >
              </div>
            </div>
            <div class="DivMainRight">
              <div class="card">
                <span
                  ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="m256 8c-136.957 0-248 111.083-248 248 0 136.997 111.043 248 248 248s248-111.003 248-248c0-136.917-111.043-248-248-248zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12z"
                    ></path>
                  </svg>
              
                  <p>
                    Query: {{ vcfs[1] }}
                  </p></span
                >
              </div>
            </div>
          </div>
          <div style="display: flex; width: 100%; justify-content: center; align-items: center; background: linear-gradient(to right, #eef0f1 50%, #333333 50%);">
            <table class="TruthTable">
              <tbody>
                <tr class="TableRow">
                  <th class="TableHeader">TYPE</th>
                  <th class="TableHeader">FILTER</th>
                  <th class="TableHeader">TRUTH TOTAL</th>
                  <th class="TableHeader">TRUE POSITIVE</th>
                  <th class="TableHeader">FALSE NEGATIVE</th>
                  <th class="TableHeader">QUERY TOTAL</th>
                  <th class="TableHeader">FALSE POSITIVE</th>
                  <th class="TableHeader">RECALL</th>
                  <th class="TableHeader">PRECISION</th>
                  <th class="TableHeader">F1 SCORE</th>
                </tr>
                {% for row, metrics in summary.iterrows() %}
                  <tr class="TableRow">
                    {% for index, metric in metrics.items() %}
                      {% if metric is float() %}
                        <td class="TableCell">{{ metric|round(2, 'common') }}</td>
                      {% elif metric is string() %}
                        <td class="TableCell">{{ metric|upper() }}</td>
                      {% else %}
                        <td class="TableCell">{{ metric }}</td>
                      {% endif %}  
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>  
        {% endif %}
    </div>
    <script>
        const content1El = document.getElementById('content1');
        const content2El = document.getElementById('content2');
        
        // Sync scrolling between panels
        content1El.addEventListener('scroll', () => {
        content2El.scrollTop = content1El.scrollTop;
        });
        
        content2El.addEventListener('scroll', () => {
        content1El.scrollTop = content2El.scrollTop;
        });

        content1El.addEventListener('scroll', () => {
        content2El.scrollLeft = content1El.scrollLeft;
        });
        
        content2El.addEventListener('scroll', () => {
        content1El.scrollLeft = content2El.scrollLeft;
        });
        
        function interpretTabs(className) {
        document.querySelectorAll("." + className).forEach(element => {
            element.innerHTML = element.innerHTML.split("\\t").join('&nbsp;&nbsp;&nbsp;&nbsp;');
        });
        }
        interpretTabs("header.column")
        interpretTabs("match.column");
        interpretTabs("diff.column");
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Left side plot navigation
          const leftPlots = document.querySelectorAll('.GridPlotLeft .DivPlot');
          const leftPrevArrow = document.getElementById('leftPrevArrow');
          const leftNextArrow = document.getElementById('leftNextArrow');
          const leftPlotIndicator = document.getElementById('leftPlotIndicator');
          let leftCurrentPlot = 0;
          
          // Right side plot navigation
          const rightPlots = document.querySelectorAll('.GridPlotRight .DivPlot');
          const rightPrevArrow = document.getElementById('rightPrevArrow');
          const rightNextArrow = document.getElementById('rightNextArrow');
          const rightPlotIndicator = document.getElementById('rightPlotIndicator');
          let rightCurrentPlot = 0;
          
          // Hide arrows if only one plot
          if (leftPlots.length <= 1) {
              leftPrevArrow.style.display = 'none';
              leftNextArrow.style.display = 'none';
          }
          
          if (rightPlots.length <= 1) {
              rightPrevArrow.style.display = 'none';
              rightNextArrow.style.display = 'none';
          }
          
          // Create dot indicators for left plots
          for (let i = 0; i < leftPlots.length; i++) {
              const dot = document.createElement('div');
              dot.className = i === 0 ? 'plot-dot active' : 'plot-dot';
              leftPlotIndicator.appendChild(dot);
          }
          
          // Create dot indicators for right plots
          for (let i = 0; i < rightPlots.length; i++) {
              const dot = document.createElement('div');
              dot.className = i === 0 ? 'plot-dot active' : 'plot-dot';
              rightPlotIndicator.appendChild(dot);
          }
          
          // Ensure inactive plots are fully hidden
          leftPlots.forEach((plot, index) => {
              if (index !== leftCurrentPlot) {
                  plot.style.display = 'none';
                  plot.style.visibility = 'hidden';
                  plot.style.gridArea = 'none'; // Remove from grid layout
              } else {
                  plot.style.display = 'block';
                  plot.style.visibility = 'visible';
                  plot.style.gridArea = 'auto'; // Use default grid positioning
              }
          });
          
          rightPlots.forEach((plot, index) => {
              if (index !== rightCurrentPlot) {
                  plot.style.display = 'none';
                  plot.style.visibility = 'hidden';
                  plot.style.gridArea = 'none'; // Remove from grid layout
              } else {
                  plot.style.display = 'block';
                  plot.style.visibility = 'visible';
                  plot.style.gridArea = 'auto'; // Use default grid positioning
              }
          });
          
          // Left plot navigation
          leftPrevArrow.addEventListener('click', () => {
              leftPlots[leftCurrentPlot].classList.remove('active');
              leftPlots[leftCurrentPlot].style.display = 'none';
              leftPlots[leftCurrentPlot].style.visibility = 'hidden';
              leftPlots[leftCurrentPlot].style.gridArea = 'none';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.remove('active');
              leftCurrentPlot = (leftCurrentPlot - 1 + leftPlots.length) % leftPlots.length;
              
              leftPlots[leftCurrentPlot].classList.add('active');
              leftPlots[leftCurrentPlot].style.display = 'block';
              leftPlots[leftCurrentPlot].style.visibility = 'visible';
              leftPlots[leftCurrentPlot].style.gridArea = 'auto';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.add('active');
          });
          
          leftNextArrow.addEventListener('click', () => {
              leftPlots[leftCurrentPlot].classList.remove('active');
              leftPlots[leftCurrentPlot].style.display = 'none';
              leftPlots[leftCurrentPlot].style.visibility = 'hidden';
              leftPlots[leftCurrentPlot].style.gridArea = 'none';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.remove('active');
              leftCurrentPlot = (leftCurrentPlot + 1) % leftPlots.length;
              
              leftPlots[leftCurrentPlot].classList.add('active');
              leftPlots[leftCurrentPlot].style.display = 'block';
              leftPlots[leftCurrentPlot].style.visibility = 'visible';
              leftPlots[leftCurrentPlot].style.gridArea = 'auto';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.add('active');
          });
          
          // Right plot navigation
          rightPrevArrow.addEventListener('click', () => {
              rightPlots[rightCurrentPlot].classList.remove('active');
              rightPlots[rightCurrentPlot].style.display = 'none';
              rightPlots[rightCurrentPlot].style.visibility = 'hidden';
              rightPlots[rightCurrentPlot].style.gridArea = 'none';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.remove('active');
              rightCurrentPlot = (rightCurrentPlot - 1 + rightPlots.length) % rightPlots.length;
              
              rightPlots[rightCurrentPlot].classList.add('active');
              rightPlots[rightCurrentPlot].style.display = 'block';
              rightPlots[rightCurrentPlot].style.visibility = 'visible';
              rightPlots[rightCurrentPlot].style.gridArea = 'auto';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.add('active');
          });
          
          rightNextArrow.addEventListener('click', () => {
              rightPlots[rightCurrentPlot].classList.remove('active');
              rightPlots[rightCurrentPlot].style.display = 'none';
              rightPlots[rightCurrentPlot].style.visibility = 'hidden';
              rightPlots[rightCurrentPlot].style.gridArea = 'none';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.remove('active');
              rightCurrentPlot = (rightCurrentPlot + 1) % rightPlots.length;
              
              rightPlots[rightCurrentPlot].classList.add('active');
              rightPlots[rightCurrentPlot].style.display = 'block';
              rightPlots[rightCurrentPlot].style.visibility = 'visible';
              rightPlots[rightCurrentPlot].style.gridArea = 'auto';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.add('active');
          });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
          document.querySelector(".search-box .input").addEventListener("input", filter);
          document.querySelectorAll(".FilterContainer select").forEach(select => select.addEventListener("change", filter));
          document.querySelector(".FilterContainerL select").addEventListener("change",filter);
      });
      function filter() {

          let totalCount = document.querySelectorAll(".file1-content .line:not(.header)").length;
          
          let chromosomeInput = document.querySelector(".ContainerSearch .search-field input.input");
          if (!chromosomeInput) {
              chromosomeInput = document.querySelector(".search .search-field input.input");
          }
          let chromosome = chromosomeInput ? chromosomeInput.value.trim().toUpperCase() : "";
          
          let filterSelectsL = document.querySelector(".FilterContainerL .FilterField");
          let matchType = filterSelectsL ? filterSelectsL.value : "ALL";
          let filterSelects = document.querySelectorAll(".FilterContainer .FilterField");
          let filterType = filterSelects.length > 0 ? filterSelects[0].value.toUpperCase() : "ALL";
          let variantType = filterSelects.length > 1 ? filterSelects[1].value.toUpperCase() : "ALL";

          let rowsLeft = document.querySelectorAll(".file1-content .line:not(.header)");
          let rowsRight = document.querySelectorAll(".file2-content .line:not(.header)");

          let visibleCount = 0;

          rowsLeft.forEach((row, index) => {
              let idParts = row.id.split(" ");
              if (idParts.length < 3) return;
              
              let rowClassMatch = matchType === "ALL" || row.className.split(" ")[1] === (matchType === "MATCH" ? "match": "diff");
      
              let chromMatch = chromosome === "" || idParts[0] == chromosome;
              let typeMatch = variantType === "ALL" || idParts[1] === variantType;
              let filterMatchLeft = filterType === "ALL" || idParts[2] === filterType;
      
              let rowRight = rowsRight[index];
              let idPartsRight = rowRight.id.split(" ");
      
              let filterMatchRight = filterType === "ALL" || idPartsRight[2] === filterType;
    
              let rowVisible = (chromMatch && typeMatch && rowClassMatch && (filterMatchLeft || filterMatchRight));
      
              console.log(`Row ${index}:`, {
                  chromMatch, typeMatch, rowClassMatch, filterMatchLeft, filterMatchRight, rowVisible
              });
              visibleCount = rowVisible ? ++visibleCount : visibleCount;
              row.style.display = rowVisible ? "flex" : "none";
              rowRight.style.display = rowVisible ? "flex" : "none";
          });
          
          document.getElementById("filterSummaryL").innerText = `Showing ${visibleCount} variants out of ${totalCount}`;
          document.getElementById("filterSummaryR").innerText = `Showing ${visibleCount} variants out of ${totalCount}`;
      }
      function resetFilters() {
          document.querySelector(".search-box .input").value = "";
          document.querySelectorAll(".FilterContainer select").forEach(select => select.value = "ALL");
          document.querySelector(".FilterContainerL select").value = "ALL";
          filter();
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("DropDown").addEventListener("click", show)
      });
      function show() {
        element = document.querySelector(".input-container")
        element.style.display = element.style.display == "none" ? "flex" : "none";
      }
    </script>
    <script>
      // Create the loop button element
      const loopButton = document.createElement('button');
      loopButton.className = 'loop-button';
      loopButton.textContent = 'Loop Differences';
      loopButton.title = 'Auto-scroll through differences';
      loopButton.style.position = 'fixed';
      loopButton.style.bottom = '20px';
      loopButton.style.right = '20px';
      loopButton.style.padding = '10px 15px';
      loopButton.style.backgroundColor = '#29903b';
      loopButton.style.color = 'white';
      loopButton.style.border = 'none';
      loopButton.style.borderRadius = '16px';
      loopButton.style.cursor = 'pointer';
      loopButton.style.fontFamily = 'Ubuntu';
      loopButton.style.fontWeight = 'bold';
      loopButton.style.boxShadow = '0 2px 5px rgba(0,0,0,0.2)';
      loopButton.style.zIndex = '999';

      // Add indicator for active/inactive state
      const loopStatusIndicator = document.createElement('span');
      loopStatusIndicator.style.display = 'inline-block';
      loopStatusIndicator.style.width = '10px';
      loopStatusIndicator.style.height = '10px';
      loopStatusIndicator.style.backgroundColor = '#ddd';
      loopStatusIndicator.style.borderRadius = '50%';
      loopStatusIndicator.style.marginRight = '8px';
      loopButton.prepend(loopStatusIndicator);

      // Append button to body
      document.body.appendChild(loopButton);

      // Variables for looping functionality
      let loopActive = false;
      let loopInterval = null;
      let currentDiffIndex = -1;
      let diffElements = [];

      // Function to update diff elements array
      function updateDiffElements() {
          const file1Diffs = Array.from(document.querySelectorAll('.file1-content .diff')).filter(el => el.style.display !== 'none');
          diffElements = file1Diffs;
          console.log(`Found ${diffElements.length} differences`);
          currentDiffIndex = diffElements.length > 0 ? 0 : -1;
      }

      // Function to scroll to specific diff
      function scrollToDiff(index) {
          if (index >= 0 && index < diffElements.length) {
              const diffElement = diffElements[index];
              
              // Scroll both panels to the same position
              const file1Content = document.getElementById('content1');
              const file2Content = document.getElementById('content2');
              
              // Calculate scroll position (center the diff in the viewport)
              const elementTop = diffElement.offsetTop;
              const containerHeight = file1Content.clientHeight;
              const scrollPosition = elementTop - (containerHeight / 2) + (diffElement.clientHeight / 2);
              
              // Smooth scroll to the element
              file1Content.scrollTo({ top: scrollPosition, behavior: 'smooth' });
              file2Content.scrollTo({ top: scrollPosition, behavior: 'smooth' });
              
              // Highlight current difference with a temporary effect
              diffElement.style.transition = 'background-color 0.5s ease';
              const originalColor = diffElement.style.backgroundColor;
              diffElement.style.backgroundColor = 'rgba(255, 165, 0, 0.5)'; // Highlight color
              
              // Reset highlight after a delay
              setTimeout(() => {
                  diffElement.style.backgroundColor = originalColor;
              }, 800);
          }
      }

      // Toggle loop functionality
      function toggleLoop() {
          loopActive = !loopActive;
          
          if (loopActive) {
              // Update indicator to show active state
              loopStatusIndicator.style.backgroundColor = '#ff5722';
              
              // Initialize diff elements and index
              updateDiffElements();
              
              if (diffElements.length > 0) {
                  // Start looping through differences
                  loopInterval = setInterval(() => {
                      scrollToDiff(currentDiffIndex);
                      currentDiffIndex = (currentDiffIndex + 1) % diffElements.length;
                  }, 2000); // Adjust timing as needed
                  
                  // Scroll to first difference immediately
                  scrollToDiff(currentDiffIndex);
              } else {
                  // No differences found
                  alert('No differences found to loop through');
                  loopActive = false;
                  loopStatusIndicator.style.backgroundColor = '#ddd';
              }
          } else {
              // Stop looping
              clearInterval(loopInterval);
              loopStatusIndicator.style.backgroundColor = '#ddd';
          }
      }

      // Add click event to toggle button
      loopButton.addEventListener('click', toggleLoop);

      // Update diff elements when filters change
      document.addEventListener('DOMContentLoaded', function() {
          const filterElements = [
              document.querySelector(".search-box .input"),
              ...document.querySelectorAll(".FilterContainer select")
          ];
          
          filterElements.forEach(element => {
              if (element) {
                  element.addEventListener("change", function() {
                      // If loop is active, restart it to account for new filter
                      if (loopActive) {
                          clearInterval(loopInterval);
                          updateDiffElements();
                          
                          if (diffElements.length > 0) {
                              loopInterval = setInterval(() => {
                                  scrollToDiff(currentDiffIndex);
                                  currentDiffIndex = (currentDiffIndex + 1) % diffElements.length;
                              }, 2000);
                              
                              scrollToDiff(currentDiffIndex);
                          } else {
                              alert('No differences found with current filters');
                              loopActive = false;
                              loopStatusIndicator.style.backgroundColor = '#ddd';
                              toggleLoop(); // Turn off the loop
                          }
                      }
                  });
              }
          });
          
          // Also update when reset button is clicked
          const resetButton = document.querySelector(".SearchButton");
          if (resetButton) {
              resetButton.addEventListener("click", function() {
                  setTimeout(updateDiffElements, 100); // Small delay to ensure filters are reset
              });
          }
      });

      // Add keyboard shortcut for toggling loop (press 'L')
      document.addEventListener('keydown', function(event) {
          if (event.key.toLowerCase() === 'l') {
              toggleLoop();
          }
      });

      // Add metrics counter to show progress
      const metricsContainer = document.createElement('div');
      metricsContainer.className = 'loop-metrics';
      metricsContainer.style.position = 'fixed';
      metricsContainer.style.bottom = '70px';
      metricsContainer.style.right = '20px';
      metricsContainer.style.padding = '5px 10px';
      metricsContainer.style.backgroundColor = 'rgba(0,0,0,0.7)';
      metricsContainer.style.color = 'white';
      metricsContainer.style.borderRadius = '5px';
      metricsContainer.style.fontFamily = 'Ubuntu';
      metricsContainer.style.fontSize = '12px';
      metricsContainer.style.display = 'none';
      metricsContainer.style.zIndex = '998';
      document.body.appendChild(metricsContainer);

      // Show metrics when loop is active
      function updateMetrics() {
          if (loopActive) {
              metricsContainer.style.display = 'block';
              metricsContainer.textContent = `Showing difference ${currentDiffIndex + 1} of ${diffElements.length}`;
          } else {
              metricsContainer.style.display = 'none';
          }
      }

      // Update the toggle function to call updateMetrics
      const originalToggleLoop = toggleLoop;
      toggleLoop = function() {
          originalToggleLoop();
          updateMetrics();
      };

      // Update metrics when scrolling to a diff
      const originalScrollToDiff = scrollToDiff;
      scrollToDiff = function(index) {
          originalScrollToDiff(index);
          updateMetrics();
      };
    </script>
</body>
</html>