<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VCF comparison report</title>
  <link rel="stylesheet" href="template.css" />
  <link rel="stylesheet" href="file.css" />
  <link rel="stylesheet" href="search.css" />
  <link rel="stylesheet" href="table.css" />
  <link rel="stylesheet" href="tickets.css" />
  <link rel="stylesheet" href="cmd.css" />
  <script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
</head>

<body>

    <div class="main">

        <div class="main-left">
            <img src="statics/vcf-left.png" alt="vcf-icon-white" class="header-icon">
            <h2 class="header-left">
              {{ infos[vcfs[0]].basename|default(vcfs[0]) }}
            </h2>
        </div>

        <div class="main-right">
            <img src="statics/vcf-right.png" alt="vcf-icon-black" class="header-icon">
            <h2 class="header-right">
              {{ infos[vcfs[1]].basename|default(vcfs[1]) }}
            </h2>
        </div>

    </div>

    <div class="sub">

        <div class="sub-left">

            <img src="statics/info-left.png" class="info-icon", id="info-left-icon">

            <div class="info-container">

              <div class="info-bubble">
                <img src="statics/folder.png" class="info-small-icon">
                <p class="info-text-left">
                    {{ infos[vcfs[0]].path|default(vcfs[0]) }}
                </p>
              </div>

              <div class="info-bubble">
                <img src="statics/database.png" class="info-small-icon">
                <p class="info-text-left">
                    {{ infos[vcfs[0]].size|default('NA') }} Mo
                </p>
              </div>

              <div class="info-bubble">
                <img src="statics/file.png" class="info-small-icon">
                <p class="info-text-left">
                    {{ infos[vcfs[0]].mtime|default('NA') }}
                </p>
              </div>

            </div>

            <div style="position: relative; margin-right: 10px; margin-top: 10px;">

              <img src="statics/down-arrow-left.png" class="info-icon" id="dropdown-icon">

              <div class="notification-dot">
                <div class="notification-dot-ping"></div>
              </div>

            </div>

        </div>

        <div class="sub-right">

            <img src="statics/info-right.png" class="info-icon", id="info-right-icon">

            <div class="info-container">

              <div class="info-bubble">
                <img src="statics/folder.png" class="info-small-icon">
                <p class="info-text-right">
                    {{ infos[vcfs[1]].path|default(vcfs[1]) }}
                </p>
              </div>

              <div class="info-bubble">
                <img src="statics/database.png" class="info-small-icon">
                <p class="info-text-right">
                    {{ infos[vcfs[1]].size|default('NA') }} Mo
                </p>
              </div>

              <div class="info-bubble">
                <img src="statics/file.png" class="info-small-icon">
                <p class="info-text-right">
                    {{ infos[vcfs[1]].mtime|default('NA') }}
                </p>
              </div>

            </div>

            <div style="position: relative; margin-right: 10px; margin-top: 10px;">

              <img src="statics/down-arrow-right.png" class="info-icon" id="dropdown-icon">

              <div class="notification-dot">
                <div class="notification-dot-ping"></div>
              </div>

            </div>
        </div>
    </div>

    <div class="info-expand-container">

      {% if table is not none %}
        <div class="popup-left">
          <div class="popup-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
              <path fill="#393a37" d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z">
              </path>
            </svg>
          </div>
          <div class="popup-title">This VCF has been set as reference.</div>
        </div>
      {% endif %}

      <div class="command">

        <p class="bash-text">
          <span class="user">user</span><span class="vm">@vcfdelta</span>:<span class="char">~</span>$
        </p>

        <input class="input" placeholder="{{ cmd }}" type="text" disabled>

      </div>

    </div>

    <section class="plots-section">

        <div class="plots-left-grid">
            {% for plot in plots[vcfs[0]] %}
              <div class="plot {% if loop.index == 1 %}active{% endif %}" id="left-plot{{ loop.index }}">
                {{ plot }}
              </div>
            {% endfor %}
            <div class="plot-navigation">
              <div class="plot-nav-left">
                  <div class="nav-arrow left" id="leftPrevArrow">&#8592;</div>
                  <div class="plot-indicator" id="leftPlotIndicator"></div>
                  <div class="nav-arrow right" id="leftNextArrow">&#8594;</div>
              </div>
            </div>
        </div>

        <div class="plots-right-grid">
            {% for plot in plots[vcfs[1]] %}
              <div class="plot {% if loop.index == 1 %}active{% endif %}" id="right-plot{{ loop.index }}">
                {{ plot }}
              </div>
            {% endfor %}
            <div class="plot-navigation">
              <div class="plot-nav-right">
                <div class="nav-arrow left" id="rightPrevArrow">&#8592;</div>
                <div class="plot-indicator" id="rightPlotIndicator"></div>
                <div class="nav-arrow right" id="rightNextArrow">&#8594;</div>
              </div>
            </div>
        </div>

    </section>

    <div class="sub">

        <div class="sub-left">
            <div class="Container">
                <img src="statics/search.png" alt="search-icon" class="filter-icon">
            </div>
        </div>

        <div class="sub-right">
            <div class="Container">
                <img src="statics/filters.png" alt="parameters-icon" class="filter-icon">
            </div>
        </div>

    </div>

    <div class="main">

        <div class="main-left">

            <div class="search-container">

                <img src="statics/chromosome.png" alt="chromosomes-icon" class="filter-icon">

                <div class="search">

                  <div class="search-box">

                    <div class="search-field">

                      <input placeholder="Search chromosome" class="input" type="text">

                      <div class="search-box-icon">

                        <button class="btn-icon-content">
                          <i class="search-icon">
                            <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                              <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" fill="#fff">
                              </path>
                            </svg>
                          </i>
                        </button>

                      </div>

                    </div>

                  </div>

                </div>

            </div>

            <div class="filters-container">
              <img src="statics/puzzle.png" alt="puzzle-icon" class="filter-icon">
              <div class="filter-container-left">
                <select class="filter left">
                    <option selected disabled>Select a filter...</option>
                    <option>ALL</option>
                    <option>MATCH</option>
                    <option>MISMATCH</option>
                </select>
              </div>
            </div>

        </div>

        <div class="main-right">
            <div class="filters-container">
                <img src="statics/filter.png" alt="filter-icon" class="filter-icon">
                <div class="filter-container-right">
                    <select class="filter right">
                        <option selected disabled>Select a filter...</option>
                        <option>ALL</option>
                        <option>PASS</option>
                    </select>
                </div>
                <img src="statics/dna.png" alt="dna-icon" class="filter-icon">
                <div class="filter-container-right">
                    <select class="filter right">
                        <option selected disabled>Select a variant...</option>
                        <option>ALL</option>
                        <option>SNP</option>
                        <option>INDEL</option>
                        <option>OTHER</option>
                    </select>
                </div>
                <button class="reset-button" onclick="resetFilters()">Reset</button>
            </div>
        </div>
    </div>

    <div class="Container">
        <div class="file-container" id="fileTab">
    
            <div class="comparison-container">
              <div class="file1-view">
                <div class="file1-title">{{ infos[vcfs[0]].basename|default(vcfs[0]) }} <p class="filterSummary" id="filterSummaryL">Showing all variants</p> </div>
                <div class="file1-content" id="content1">
                  <div class="line header">
                    <div class="line-number">0</div>
                      <span class="header column">
                        {{ view['headers'][vcfs[0]] }}
                      </span>
                  </div>
                  {% for index, series in view['variants'].iterrows() %}
                    {% if series['Variant.L']|is_nan or series['Variant.R']|is_nan %}
                      <div class="line diff" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.L']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        {% if not series['Variant.L']|is_nan %}
                          <span class="diff column">
                            {{ series['Variant.L'] }}
                          </span>
                        {% endif %}
                      </div>
                    {% else %}
                      <div class="line match" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.L']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        <span class="match column">
                          {{ series['Variant.L'] }}
                        </span>
                      </div>
                    {% endif %}    
                  {% endfor %}
                </div>
              </div>
              <div class="file2-view">
                <div class="file2-title">{{ infos[vcfs[1]].basename|default(vcfs[1]) }} <p class="filterSummary" id="filterSummaryR">Showing all variants</p> </div>
                <div class="file2-content" id="content2">
                  <div class="line header">
                    <div class="line-number">0</div>
                      <span class="header column">
                        {{ view['headers'][vcfs[1]] }}
                      </span>
                  </div>
                  {% for index, series in view['variants'].iterrows() %}
                    {% if series['Variant.L']|is_nan or series['Variant.R']|is_nan %}
                      <div class="line diff" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.R']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        {% if not series['Variant.R']|is_nan %}
                          <span class="diff column">
                            {{ series['Variant.R'] }}
                          </span>
                        {% endif %}
                      </div>
                    {% else %}
                      <div class="line match" id="{{ series['Chromosome']|upper() }} {{ series['Type']|upper() }} {{ series['Filter.R']|upper() }}">
                        <div class="line-number">{{ loop.index }}</div>
                        <span class="match column">
                          {{ series['Variant.R'] }}
                        </span>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            
            <div class="summary-container" id="stats">

              <section class="stats-section">

                <div class="stats-container">
                  
                  <div class="stat-card">
                    <div class="stats-container-match">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="icon">
                        <rect x="96" y="176" width="320" height="48" rx="8" ry="8"/>
                        <rect x="96" y="288" width="320" height="48" rx="8" ry="8"/>
                      </svg>
                    </div>
                    <div class="content">
                      <p class="stat-value">{{ view["stats"]["common"] }}</p>
                      <p class="stat-label">Matching lines</p>
                    </div>
                  </div>
                  
                  <div class="stat-card">
                    <div class="stats-container-diff">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="icon">
                        <rect x="96" y="176" width="320" height="48" rx="8" ry="8"/>
                        <rect x="96" y="288" width="320" height="48" rx="8" ry="8"/>
                        <line x1="120" y1="400" x2="392" y2="112" stroke="currentColor" stroke-width="48" stroke-linecap="round"/>
                      </svg>
                    </div>
                    <div class="content">
                      <p class="stat-value">{{ view["stats"]["unique"][vcfs[0]] + view["stats"]["unique"][vcfs[1]] }}</p>
                      <p class="stat-label">Different lines</p>
                    </div>
                  </div>
                  
                  <div class="stat-card">
                    <div class="stats-container-index">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="icon">
                        <circle cx="200" cy="256" r="120" fill="none" stroke="currentColor" stroke-width="24" opacity="0.8"/>
                        <circle cx="312" cy="256" r="120" fill="none" stroke="currentColor" stroke-width="24" opacity="0.8"/>
                        <path d="M256,184 a72,72 0 0,1 0,144 a72,72 0 0,1 0,-144" fill="currentColor" opacity="0.6"/>
                        <text x="256" y="256" font-size="40" text-anchor="middle" dominant-baseline="middle" fill="currentColor">J</text>
                      </svg>
                    </div>
                    <div class="content">
                      <p class="stat-value">{{  view["stats"]["jaccard"]|round(3,'common') }}</p>
                      <p class="stat-label">Jaccard index</p>
                    </div>
                  </div>
                </div>

              </section>

              <div class="plot active common">
                {{ plots["common"][0] }}
              </div>

            </div>

        </div>

        {% if table is not none %}
          <div style="display: flex; width: 100%; justify-content: center; align-items: center; background: linear-gradient(to right, #eef0f1 50%, #333333 50%);">
            <table class="benchmark-table">
              <tbody>
                <tr class="row-table">
                  <th class="header-table">TYPE</th>
                  <th class="header-table">FILTER</th>
                  <th class="header-table">TRUTH TOTAL</th>
                  <th class="header-table">TRUE POSITIVE</th>
                  <th class="header-table">FALSE NEGATIVE</th>
                  <th class="header-table">QUERY TOTAL</th>
                  <th class="header-table">FALSE POSITIVE</th>
                  <th class="header-table">RECALL</th>
                  <th class="header-table">PRECISION</th>
                  <th class="header-table">F1 SCORE</th>
                </tr>
                {% for row, metrics in table.iterrows() %}
                  <tr class="row-table">
                    {% for index, metric in metrics.items() %}
                      {% if metric is float() %}
                        <td class="cell-table">{{ metric|round(2, 'common') }}</td>
                      {% elif metric is string() %}
                        <td class="cell-table">{{ metric|upper() }}</td>
                      {% else %}
                        <td class="cell-table">{{ metric }}</td>
                      {% endif %}  
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>  
        {% endif %}
    </div>

    <script>
        const content1El = document.getElementById('content1');
        const content2El = document.getElementById('content2');
        
        // Sync scrolling between panels
        content1El.addEventListener('scroll', () => {
        content2El.scrollTop = content1El.scrollTop;
        });
        
        content2El.addEventListener('scroll', () => {
        content1El.scrollTop = content2El.scrollTop;
        });

        content1El.addEventListener('scroll', () => {
        content2El.scrollLeft = content1El.scrollLeft;
        });
        
        content2El.addEventListener('scroll', () => {
        content1El.scrollLeft = content2El.scrollLeft;
        });
        
        function interpretTabs(className) {
        document.querySelectorAll("." + className).forEach(element => {
            element.innerHTML = element.innerHTML.split("\\t").join('&nbsp;&nbsp;&nbsp;&nbsp;');
        });
        }
        interpretTabs("header.column")
        interpretTabs("match.column");
        interpretTabs("diff.column");
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Left side plot navigation
          const leftPlots = document.querySelectorAll('.plots-left-grid .plot');
          const leftPrevArrow = document.getElementById('leftPrevArrow');
          const leftNextArrow = document.getElementById('leftNextArrow');
          const leftPlotIndicator = document.getElementById('leftPlotIndicator');
          let leftCurrentPlot = 0;
          
          // Right side plot navigation
          const rightPlots = document.querySelectorAll('.plots-right-grid .plot');
          const rightPrevArrow = document.getElementById('rightPrevArrow');
          const rightNextArrow = document.getElementById('rightNextArrow');
          const rightPlotIndicator = document.getElementById('rightPlotIndicator');
          let rightCurrentPlot = 0;
          
          // Hide arrows if only one plot
          if (leftPlots.length <= 1) {
              leftPrevArrow.style.display = 'none';
              leftNextArrow.style.display = 'none';
          }
          
          if (rightPlots.length <= 1) {
              rightPrevArrow.style.display = 'none';
              rightNextArrow.style.display = 'none';
          }
          
          // Create dot indicators for left plots
          for (let i = 0; i < leftPlots.length; i++) {
              const dot = document.createElement('div');
              dot.className = i === 0 ? 'plot-dot active' : 'plot-dot';
              leftPlotIndicator.appendChild(dot);
          }
          
          // Create dot indicators for right plots
          for (let i = 0; i < rightPlots.length; i++) {
              const dot = document.createElement('div');
              dot.className = i === 0 ? 'plot-dot active' : 'plot-dot';
              rightPlotIndicator.appendChild(dot);
          }
          
          // Ensure inactive plots are fully hidden
          leftPlots.forEach((plot, index) => {
              if (index !== leftCurrentPlot) {
                  plot.style.display = 'none';
                  plot.style.visibility = 'hidden';
                  plot.style.gridArea = 'none'; // Remove from grid layout
              } else {
                  plot.style.display = 'block';
                  plot.style.visibility = 'visible';
                  plot.style.gridArea = 'auto'; // Use default grid positioning
              }
          });
          
          rightPlots.forEach((plot, index) => {
              if (index !== rightCurrentPlot) {
                  plot.style.display = 'none';
                  plot.style.visibility = 'hidden';
                  plot.style.gridArea = 'none'; // Remove from grid layout
              } else {
                  plot.style.display = 'block';
                  plot.style.visibility = 'visible';
                  plot.style.gridArea = 'auto'; // Use default grid positioning
              }
          });
          
          // Left plot navigation
          leftPrevArrow.addEventListener('click', () => {
              leftPlots[leftCurrentPlot].classList.remove('active');
              leftPlots[leftCurrentPlot].style.display = 'none';
              leftPlots[leftCurrentPlot].style.visibility = 'hidden';
              leftPlots[leftCurrentPlot].style.gridArea = 'none';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.remove('active');
              leftCurrentPlot = (leftCurrentPlot - 1 + leftPlots.length) % leftPlots.length;
              
              leftPlots[leftCurrentPlot].classList.add('active');
              leftPlots[leftCurrentPlot].style.display = 'block';
              leftPlots[leftCurrentPlot].style.visibility = 'visible';
              leftPlots[leftCurrentPlot].style.gridArea = 'auto';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.add('active');
          });
          
          leftNextArrow.addEventListener('click', () => {
              leftPlots[leftCurrentPlot].classList.remove('active');
              leftPlots[leftCurrentPlot].style.display = 'none';
              leftPlots[leftCurrentPlot].style.visibility = 'hidden';
              leftPlots[leftCurrentPlot].style.gridArea = 'none';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.remove('active');
              leftCurrentPlot = (leftCurrentPlot + 1) % leftPlots.length;
              
              leftPlots[leftCurrentPlot].classList.add('active');
              leftPlots[leftCurrentPlot].style.display = 'block';
              leftPlots[leftCurrentPlot].style.visibility = 'visible';
              leftPlots[leftCurrentPlot].style.gridArea = 'auto';
              
              leftPlotIndicator.children[leftCurrentPlot].classList.add('active');
          });
          
          // Right plot navigation
          rightPrevArrow.addEventListener('click', () => {
              rightPlots[rightCurrentPlot].classList.remove('active');
              rightPlots[rightCurrentPlot].style.display = 'none';
              rightPlots[rightCurrentPlot].style.visibility = 'hidden';
              rightPlots[rightCurrentPlot].style.gridArea = 'none';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.remove('active');
              rightCurrentPlot = (rightCurrentPlot - 1 + rightPlots.length) % rightPlots.length;
              
              rightPlots[rightCurrentPlot].classList.add('active');
              rightPlots[rightCurrentPlot].style.display = 'block';
              rightPlots[rightCurrentPlot].style.visibility = 'visible';
              rightPlots[rightCurrentPlot].style.gridArea = 'auto';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.add('active');
          });
          
          rightNextArrow.addEventListener('click', () => {
              rightPlots[rightCurrentPlot].classList.remove('active');
              rightPlots[rightCurrentPlot].style.display = 'none';
              rightPlots[rightCurrentPlot].style.visibility = 'hidden';
              rightPlots[rightCurrentPlot].style.gridArea = 'none';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.remove('active');
              rightCurrentPlot = (rightCurrentPlot + 1) % rightPlots.length;
              
              rightPlots[rightCurrentPlot].classList.add('active');
              rightPlots[rightCurrentPlot].style.display = 'block';
              rightPlots[rightCurrentPlot].style.visibility = 'visible';
              rightPlots[rightCurrentPlot].style.gridArea = 'auto';
              
              rightPlotIndicator.children[rightCurrentPlot].classList.add('active');
          });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
          document.querySelector(".search-box .input").addEventListener("input", filter);
          document.querySelectorAll(".filter-container-right select").forEach(select => select.addEventListener("change", filter));
          document.querySelector(".filter-container-left select").addEventListener("change",filter);
      });
      function filter() {

          let totalCount = document.querySelectorAll(".file1-content .line:not(.header)").length;
          
          let chromosomeInput = document.querySelector(".search-container .search-field input.input");
          if (!chromosomeInput) {
              chromosomeInput = document.querySelector(".search .search-field input.input");
          }
          let chromosome = chromosomeInput ? chromosomeInput.value.trim().toUpperCase() : "";
          
          let filterSelectsL = document.querySelector(".filter-container-left .filter");
          let matchType = filterSelectsL ? filterSelectsL.value : "ALL";
          let filterSelects = document.querySelectorAll(".filter-container-right .filter");
          let filterType = filterSelects.length > 0 ? filterSelects[0].value.toUpperCase() : "ALL";
          let variantType = filterSelects.length > 1 ? filterSelects[1].value.toUpperCase() : "ALL";

          let rowsLeft = document.querySelectorAll(".file1-content .line:not(.header)");
          let rowsRight = document.querySelectorAll(".file2-content .line:not(.header)");

          let visibleCount = 0;

          rowsLeft.forEach((row, index) => {
              let idParts = row.id.split(" ");
              if (idParts.length < 3) return;
              
              let rowClassMatch = matchType === "ALL" || row.className.split(" ")[1] === (matchType === "MATCH" ? "match": "diff");
      
              let chromMatch = chromosome === "" || idParts[0] == chromosome;
              let typeMatch = variantType === "ALL" || idParts[1] === variantType;
              let filterMatchLeft = filterType === "ALL" || idParts[2] === filterType;
      
              let rowRight = rowsRight[index];
              let idPartsRight = rowRight.id.split(" ");
      
              let filterMatchRight = filterType === "ALL" || idPartsRight[2] === filterType;
    
              let rowVisible = (chromMatch && typeMatch && rowClassMatch && (filterMatchLeft || filterMatchRight));
      
              console.log(`Row ${index}:`, {
                  chromMatch, typeMatch, rowClassMatch, filterMatchLeft, filterMatchRight, rowVisible
              });
              visibleCount = rowVisible ? ++visibleCount : visibleCount;
              row.style.display = rowVisible ? "flex" : "none";
              rowRight.style.display = rowVisible ? "flex" : "none";
          });
          
          document.getElementById("filterSummaryL").innerText = `Showing ${visibleCount} variants out of ${totalCount}`;
          document.getElementById("filterSummaryR").innerText = `Showing ${visibleCount} variants out of ${totalCount}`;
      }
      function resetFilters() {
          document.querySelector(".search-box .input").value = "";
          document.querySelectorAll(".filter-container-right select").forEach(select => select.value = "ALL");
          document.querySelector(".filter-container-left select").value = "ALL";
          filter();
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("dropdown-icon").addEventListener("click", show)
      });
      function show() {
        element = document.querySelector(".command")
        element.style.display = element.style.display == "none" ? "flex" : "none";
        element = document.querySelector(".popup-left")
        element.style.display = element.style.display == "none" ? "flex" : "none";
      }
    </script>
    <script>
      // Create the loop button element
      const loopButton = document.createElement('button');
      loopButton.className = 'loop-button';
      loopButton.textContent = 'Loop Differences';
      loopButton.title = 'Auto-scroll through differences';
      loopButton.style.position = 'fixed';
      loopButton.style.bottom = '20px';
      loopButton.style.right = '20px';
      loopButton.style.padding = '10px 15px';
      loopButton.style.backgroundColor = '#29903b';
      loopButton.style.color = 'white';
      loopButton.style.border = 'none';
      loopButton.style.borderRadius = '16px';
      loopButton.style.cursor = 'pointer';
      loopButton.style.fontFamily = 'Ubuntu';
      loopButton.style.fontWeight = 'bold';
      loopButton.style.boxShadow = '0 2px 5px rgba(0,0,0,0.2)';
      loopButton.style.zIndex = '999';

      // Add indicator for active/inactive state
      const loopStatusIndicator = document.createElement('span');
      loopStatusIndicator.style.display = 'inline-block';
      loopStatusIndicator.style.width = '10px';
      loopStatusIndicator.style.height = '10px';
      loopStatusIndicator.style.backgroundColor = '#ddd';
      loopStatusIndicator.style.borderRadius = '50%';
      loopStatusIndicator.style.marginRight = '8px';
      loopButton.prepend(loopStatusIndicator);

      // Append button to body
      document.body.appendChild(loopButton);

      // Variables for looping functionality
      let loopActive = false;
      let loopInterval = null;
      let currentDiffIndex = -1;
      let diffElements = [];

      // Function to update diff elements array
      function updateDiffElements() {
          const file1Diffs = Array.from(document.querySelectorAll('.file1-content .diff')).filter(el => el.style.display !== 'none');
          diffElements = file1Diffs;
          console.log(`Found ${diffElements.length} differences`);
          currentDiffIndex = diffElements.length > 0 ? 0 : -1;
      }

      // Function to scroll to specific diff
      function scrollToDiff(index) {
          if (index >= 0 && index < diffElements.length) {
              const diffElement = diffElements[index];
              
              // Scroll both panels to the same position
              const file1Content = document.getElementById('content1');
              const file2Content = document.getElementById('content2');
              
              // Calculate scroll position (center the diff in the viewport)
              const elementTop = diffElement.offsetTop;
              const containerHeight = file1Content.clientHeight;
              const scrollPosition = elementTop - (containerHeight / 2) + (diffElement.clientHeight / 2);
              
              // Smooth scroll to the element
              file1Content.scrollTo({ top: scrollPosition, behavior: 'smooth' });
              file2Content.scrollTo({ top: scrollPosition, behavior: 'smooth' });
              
              // Highlight current difference with a temporary effect
              diffElement.style.transition = 'background-color 0.5s ease';
              const originalColor = diffElement.style.backgroundColor;
              diffElement.style.backgroundColor = 'rgba(255, 165, 0, 0.5)'; // Highlight color
              
              // Reset highlight after a delay
              setTimeout(() => {
                  diffElement.style.backgroundColor = originalColor;
              }, 800);
          }
      }

      // Toggle loop functionality
      function toggleLoop() {
          loopActive = !loopActive;
          
          if (loopActive) {
              // Update indicator to show active state
              loopStatusIndicator.style.backgroundColor = '#ff5722';
              
              // Initialize diff elements and index
              updateDiffElements();
              
              if (diffElements.length > 0) {
                  // Start looping through differences
                  loopInterval = setInterval(() => {
                      scrollToDiff(currentDiffIndex);
                      currentDiffIndex = (currentDiffIndex + 1) % diffElements.length;
                  }, 2000); // Adjust timing as needed
                  
                  // Scroll to first difference immediately
                  scrollToDiff(currentDiffIndex);
              } else {
                  // No differences found
                  alert('No differences found to loop through');
                  loopActive = false;
                  loopStatusIndicator.style.backgroundColor = '#ddd';
              }
          } else {
              // Stop looping
              clearInterval(loopInterval);
              loopStatusIndicator.style.backgroundColor = '#ddd';
          }
      }

      // Add click event to toggle button
      loopButton.addEventListener('click', toggleLoop);

      // Update diff elements when filters change
      document.addEventListener('DOMContentLoaded', function() {
          const filterElements = [
              document.querySelector(".search-box .input"),
              ...document.querySelectorAll(".filter-container-right select")
          ];
          
          filterElements.forEach(element => {
              if (element) {
                  element.addEventListener("change", function() {
                      // If loop is active, restart it to account for new filter
                      if (loopActive) {
                          clearInterval(loopInterval);
                          updateDiffElements();
                          
                          if (diffElements.length > 0) {
                              loopInterval = setInterval(() => {
                                  scrollToDiff(currentDiffIndex);
                                  currentDiffIndex = (currentDiffIndex + 1) % diffElements.length;
                              }, 2000);
                              
                              scrollToDiff(currentDiffIndex);
                          } else {
                              alert('No differences found with current filters');
                              loopActive = false;
                              loopStatusIndicator.style.backgroundColor = '#ddd';
                              toggleLoop(); // Turn off the loop
                          }
                      }
                  });
              }
          });
          
          // Also update when reset button is clicked
          const resetButton = document.querySelector(".reset-button");
          if (resetButton) {
              resetButton.addEventListener("click", function() {
                  setTimeout(updateDiffElements, 100); // Small delay to ensure filters are reset
              });
          }
      });

      // Add keyboard shortcut for toggling loop (press 'L')
      document.addEventListener('keydown', function(event) {
          if (event.key.toLowerCase() === 'l') {
              toggleLoop();
          }
      });

      // Add metrics counter to show progress
      const metricsContainer = document.createElement('div');
      metricsContainer.className = 'loop-metrics';
      metricsContainer.style.position = 'fixed';
      metricsContainer.style.bottom = '70px';
      metricsContainer.style.right = '20px';
      metricsContainer.style.padding = '5px 10px';
      metricsContainer.style.backgroundColor = 'rgba(0,0,0,0.7)';
      metricsContainer.style.color = 'white';
      metricsContainer.style.borderRadius = '5px';
      metricsContainer.style.fontFamily = 'Ubuntu';
      metricsContainer.style.fontSize = '12px';
      metricsContainer.style.display = 'none';
      metricsContainer.style.zIndex = '998';
      document.body.appendChild(metricsContainer);

      // Show metrics when loop is active
      function updateMetrics() {
          if (loopActive) {
              metricsContainer.style.display = 'block';
              metricsContainer.textContent = `Showing difference ${currentDiffIndex + 1} of ${diffElements.length}`;
          } else {
              metricsContainer.style.display = 'none';
          }
      }

      // Update the toggle function to call updateMetrics
      const originalToggleLoop = toggleLoop;
      toggleLoop = function() {
          originalToggleLoop();
          updateMetrics();
      };

      // Update metrics when scrolling to a diff
      const originalScrollToDiff = scrollToDiff;
      scrollToDiff = function(index) {
          originalScrollToDiff(index);
          updateMetrics();
      };
    </script>
</body>
</html>