body {
    --background-color-main-left: white;
    --background-color-main-right: #111111;
    --background-color-sub-left: #EEF0F1;
    --background-color-sub-right: #333333;
    --color-left: #111111;
    --color-right: white;
    --font-family: Ubuntu;
    --width-left: 50%;
    --width-right: 50%;
    margin: 0;
    padding: 0;
}

.main, .sub {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-left, .main-right {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.main-left {
    width: var(--width-left);
    background-color: var(--background-color-main-left);
}

.main-right {
    width: var(--width-right);
    background-color: var(--background-color-main-right);
}

.header-left, .header-right {
    margin-top: 20px;
    margin-bottom: 10px;
    size: 32px;
    height: 36px;
    font-family: var(--font-family);
    font-weight: bold;
    font-style: italic;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-left {
    color: var(--color-left);
}

.header-right {
    color: white;
}

.header-icon {
    width: 57px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-left, .sub-right {
    align-self: stretch;
    display: flex;
    flex-direction: row;
}

.sub-left {
    width: var(--width-left);
    background-color: var(--background-color-sub-left);
}

.sub-right {
    width: var(--width-right);
    background: var(--background-color-sub-right);
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5px;
}

.info-icon {
    width: 39px;
    height: 39px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    vertical-align: middle;
    margin-right: 5px;
}

#dropdown-icon, #terminal-icon:hover {
    cursor: pointer;
}

.notification-dot {
    position: absolute;
    top: -0.25rem; 
    right: -0.25rem; 
    width: 0.875rem; 
    height: 0.875rem; 
    background-color: #f87171; 
    border: 2px solid transparent; 
    border-radius: 9999px
}

.notification-dot-ping {
    width: 100%; 
    height: 100%; 
    background-color: #f87171; 
    border-radius: 9999px; 
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
}

.expand-container {
    background: linear-gradient(to right, #eef0f1 50%, #333333 50%);
    width: 100%;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
}
.info-small-icon {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    vertical-align: middle;
}

.info-bubble {
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: transparent;
    border-radius: 2em;
    margin: 2px;
    background-color: #111d2f;
}

.info-text-left, .info-text-right {
    align-items: center;
    font-size: 14px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    overflow: scroll;
}

.info-text-left {
    color: var(--color-right);
    font-family: var(--font-family);
}

.info-text-right {
    color: var(--color-right);
    font-family: var(--font-family);
}

.popups {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    background: linear-gradient(to right, #eef0f1 50%, #333333 50%);
}

.popups-container {
    display: flex;
    width: 50%;
    justify-content: center;
}

.popup {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    margin-bottom: 5px;
    display: none;
    flex-direction: row;
    align-items: center;
    background: #D7F1FD;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}
  
.popup-icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}
  
.popup-icon path {
    fill: #509AF8;
}
  
.popup-title {
    font-weight: 500;
    font-size: 14px;
    color: #0C2A75;
}

.plots-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.plots-left-grid, .plots-right-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    direction: ltr;
    gap: 8px;
    flex-wrap: wrap;
}

.plots-left-grid {
    width: var(--width-left);
    background-color: var(--background-color-main-left);
}

.plots-right-grid {
    width: var(--width-right);
    background-color: var(--background-color-main-right);
}

.plot {
    position: flex;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.plot.active {
    width: 100%;
    visibility: visible;
    opacity: 1;
    position: relative;
}

.plot.active.common {
    display: flex;
    justify-content: center;
}

.plot-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.plot-nav-left, .plot-nav-right {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}

.nav-arrow {
    cursor: pointer;
    font-size: 24px;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}

.nav-arrow:hover {
    background-color: rgba(150, 150, 150, 0.7);
    transform: scale(1.1);
}

.nav-arrow.left, .nav-arrow.right {
    color: #111111;
}

.DivMainRight .nav-arrow {
    color: white;
    background-color: rgba(100, 100, 100, 0.3);
}

.DivMainRight .nav-arrow:hover {
    background-color: rgba(150, 150, 150, 0.7);
}

.plot-indicator {
    display: flex;
    gap: 5px;
    margin: 0 15px;
    align-items: center;
}

.plot-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}

.plot-dot.active {
    background-color: #555;
}

.DivMainRight .plot-dot {
    background-color: #666;
}

.DivMainRight .plot-dot.active {
    background-color: #ddd;
}

.Container {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.filter-icon {
    width: 39px;
    height: 39px;
    margin: 5px;
    vertical-align: center;
    padding-top: 5px;
}

.FlexMain {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}

.filters-container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.filter-container-left, .filter-container-right {
    margin-right: 50px;
    width: 100%;
}

.filter{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    min-width: 200px;
    font-size: 14px;
    margin: 10px;
    align-content: center;
    background-color: #eef0f1;
    font-family: var(--font-family);
}

.filter:focus-within {
    background: white;
}

.filter.left {
    background-color: #0d1117;
    color: white;
}

.filter.right {
    background-color: #eef0f1;
}

.filter:hover {
    cursor: pointer;
}

.reset-button {
    background-color: rgba(79, 70, 229, 0.9);
    color: var(--color-right);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 16px;
    font-family: var(--font-family);
    font-weight: bold;
}

.reset-button:hover{
    background-color: rgba(67, 56, 202, 0.9);
}

.stats-section {
    padding: 1.5rem;
    background-color: #f3f4f6;
    color: #1f2937;
  }

.stats-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.stat-card {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fafafa;
    color: #1f2937;
    gap: 1rem;
}

.stats-container-match, .stats-container-diff, .stats-container-index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.stats-container-match {
    background-color: #29903b;
}

.stats-container-diff {
    background-color: red;
}

.stats-container-index {
    background-color: #7c3aed;
}

.icon {
    height: 2.25rem;
    width: 2.25rem;
    color: #f3f4f6;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-value {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
}

.stat-label {
    text-transform: capitalize;
    font-family: var(--font-family);
}

@media (min-width: 640px) {
    .stats-container {
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .stats-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

.stats-info-icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
    padding-left: 100px;
}
  
.stats-info-icon path {
    fill: #509AF8;
}

.stats-info-icon svg:hover + .stats-info-message {
    display: block;
}

.stats-info-message {
    display: none;
    width: 300px;
}

.stats-info-message p {
    background-color: white;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 1rem;
    border-width: 1px;
    padding-top: 0.01em;
    padding-right: 16px;
    padding-bottom: 0.01em;
    padding-left: 16px;
}

.stats-files {
    display: flex;
    flex-direction: row;
    background-color: #f3f4f6;
    margin-top: 10px;
}

.stats-file {
    width: 100%;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.0rem;
}

.stats-bar {
    width: 250px;
    height: 30px;
    border-radius: 9999px; 
    background-color: #E5E7EB;
}

.progress-left {
    height: 100%;
    background-color: #2C7A7B;
    opacity: 0.75;
    float: left;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.progress-right {
    height: 100%;
    background-color: #CC6E3D;
    opacity: 0.75;
    float: left;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}

.benchmark-button {
    position: relative;
    padding: 12px 24px;
    margin-left: 90px;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    background-color: #509AF8;
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all 0.3s ease;
    outline: none;
    border: none;
    cursor: pointer;
}

.benchmark-button:hover {
  background-color: #2F8CF5;
}

.benchmark-button-background {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(80, 154, 248, 0.2), rgba(80, 154, 248, 0.2));
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.benchmark-button:hover .benchmark-button-background {
  opacity: 0.75;
}

.benchmark-button-content{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
}

.benchmark-button-icon {
    width: 1rem;
    height: 1rem;
}

.benchmark-info-message {
    display: none;
}

.benchmark-button:hover .benchmark-info-message {
    display: block;
    left: 0;
    top: 0;
}